<div class="grid_2 alpha" id="left_arrow"><%= image_tag 'left_arrow.png' %></div>
<div class="grid_12">
	<section id="main_image">
		<h2 id="caption"><%= @photo.name %></h2>
		<div id="image"><%= image_tag @photo.image.url(:display), :width => '100%', :alt => @photo.description %></div>
		<div class="image_buttons"></div>
		<div class="image_info" id="image_info"><%= @photo.info_line %></div>
		
	</section>
</div>
<div class="grid_2 omega" id="right_arrow"><%= image_tag 'right_arrow.png' %></div>